<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="white">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title class="white fontt">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-5">
  <ion-item-divider>
      <ion-label>
          Ingresa lo siguiente:
      </ion-label>
    </ion-item-divider>
      <div class="padding-top-20">
        <ion-item>
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="black">Repetir nueva contraseña</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
    </div>
      <div class="padding-top-30 center">
          <ion-button shape="round" expand="block" class="new-background-color">Guardar cambios</ion-button>
          <ion-button shape="round" expand="block" class="f-color white">Cancelar</ion-button>
      </div>
</ion-content>
