
<ion-header>
<ion-toolbar color="food">
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-buttons>
  <ion-title>
    Pedidos
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

<ion-content>

    <ion-toolbar>
        <ion-segment>
          <ion-segment-button (click)="eleccion(1)">
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button (click)="eleccion(2)">
            <ion-icon name="albums"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar> 


      <div [hidden]="espera" >
        <ion-img style="padding-left:10%; padding-right: 10%; margin-top: 5%; " src="assets/icon/Pendientes.jpg"></ion-img>
        <!-- <br><ion-label class="bold center padding-top-20">PEDIDOS EN ESPERA</ion-label> -->
        <div class="mgl-30 center" *ngFor="let pedido of pedidos">
        <ion-grid>
            <ion-row>
              <ion-col align-self-start>
                <div class="left bold">
                    <ion-icon name="ios-time"></ion-icon> Pedido en espera
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  {{pedido.fecha}}
                  Pedido #RP{{pedido.idPedido}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    {{pedido.producto}}
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Piezas: {{pedido.cantidad}}
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Repartidor:
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Undefined
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total 
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  ${{pedido.totalPedido}} MXN
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div [hidden]="entregado">
        <ion-img style="padding-left:10%; padding-right: 10%; margin-top: 5%; " src="assets/icon/Entregados.jpg"></ion-img>
        <!-- <ion-label class="bold center padding-top-20">PEDIDOS ENTREGADOS</ion-label> -->
        <div class="mgl-30 center"  *ngFor="let pedido of pedidos">
        <ion-grid>
            <ion-row>
              <ion-col align-self-start>
                <div class="left bold">
                    <ion-icon name="checkmark-circle"></ion-icon> Pedido entregado
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  {{pedido.fecha}}
                  Pedido #RP{{pedido.idPedido}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    {{pedido.producto}}
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Piezas: {{pedido.cantidad}}
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Repartidor:
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Undefined
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total 
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  ${{pedido.totalPedido}} MXN
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

</ion-content>



