<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="food">
      <ion-title>FoodTec</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon color="food" name="home"></ion-icon>
        <div style="margin-left: 4%;">
         <h6 color="warning"> Inicio</h6>
        </div>
      </ion-item>
      <ion-item>
          <ion-icon color="food" name="person"></ion-icon>
          <div style="margin-left: 4%;">
           <h6 color="warning">Perfil</h6>
          </div>
      </ion-item>
      <ion-item>
            <ion-icon color="food" name="card"></ion-icon>
            <div style="margin-left: 4%;">
             <h6 color="warning">Billetera</h6>
            </div>
      </ion-item>
      <ion-item>
          <ion-icon color="food" name="logo-dropbox"></ion-icon>
          <div style="margin-left: 4%;">
           <h6 color="warning">Pedidos Actuales</h6>
          </div>
      </ion-item>
      <ion-item>
          <ion-icon color="food" name="power"></ion-icon>
          <div style="margin-left: 4%;">
           <h6 color="warning">Cerrar Sesion</h6>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-header>
<ion-toolbar color="food">
    <ion-buttons slot="start">
        <ion-button (click)="openFirst()">
          <ion-icon name="menu" ></ion-icon>
        </ion-button>
    </ion-buttons>
  <ion-title>
    Pedidos
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

<ion-content>

    <ion-toolbar>
        <ion-segment>
          <ion-segment-button (click)="eleccion(1)">
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button (click)="eleccion(2)">
            <ion-icon name="albums"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar> 


      <div [hidden]="espera">
        <ion-label class="bold center padding-top-20">PEDIDO EN ESPERA</ion-label>
        <ion-img style="padding-left:10%; padding-right: 10%; margin-top: 5%; " src="assets/icon/paste.jpg"></ion-img>
        <div class="mgl-30 center">
        <ion-grid>
            <ion-row>
              <ion-col align-self-start>
                <div class="left bold">
                    <ion-icon name="ios-time"></ion-icon> Pedido en espera
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  11 de junio de 2019 1:52 p.m.
                  Pedido #RP2
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Paste Rey 
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    1 pieza 
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Repartidor 
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Carlos Herrera
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total 
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  $18.00
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div [hidden]="entregado">
        <ion-label class="bold center padding-top-20">PEDIDO ENTREGADO</ion-label>
        <ion-img style="padding-left:10%; padding-right: 10%; margin-top: 5%; " src="assets/icon/plauchu.jpg"></ion-img>
        <div class="mgl-30 center">
        <ion-grid>
            <ion-row>
              <ion-col align-self-start>
                <div class="left bold">
                    <ion-icon name="checkmark-circle"></ion-icon> Pedido entregado
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  7 de junio de 2019 3:25 p.m.
                  Pedido #PL45
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Mollete sencillo
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    1 pieza 
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="left">
                    Repartidor 
                  </div>
                </ion-col>
                <ion-col>
                  <div class="left italic">
                    Eduardo Jiménez
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total 
                </div>
              </ion-col>
              <ion-col>
                <div class="left italic">
                  $34.00
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

</ion-content>


<ion-router-outlet main></ion-router-outlet>
