@import url('https://fonts.googleapis.com/css?family=Montserrat:400i&display=swap');
//Global 
* {
    font-family: 'Montserrat', sans-serif;
}
.new-color {
    --color: #F06702;
}
.italic {
    font-weight: 400;
    font-style: italic;
}